<p id="notice"><%= notice %></p>

<h1>
  <%= @food.place.name %>
</h1>

<h2>
  <%= @food.name %>
</h2>

<ul>
	<% @food.reviews.each do |review| %>
	<li><%= link_to review.title, review %></li>
	
	<% end %>
	
</ul>


<%= link_to 'Write Review', new_food_review_path(@food) %> 
<br/>


<% if current_user != nil &&current_user.is_admin %>
<%= link_to 'Edit', edit_food_path(@food) %> |
<% end %>
<%= link_to 'Back', Place.find(@food.place) %>
