</br>
</br>
<div class="container">

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron">
        	<div class="starter-template">
        	  <h1><%= @place.name %></h1>
				<p>
				  <strong> <%= @place.description %> </strong>
				</p>
			</div>
			
			 	
        	<h2>Select a Food:</h2>
        	<ul class="list-group ">
        		
				
			
			<% @foods.each do |food| %>
			<div class="dropdown list-group-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><Dropdown><%=food.name%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Read reviews', food, :class => "list-group-item" %></li>
                <li><%= link_to 'Write a review', new_food_review_path(food), :class => "list-group-item" %></li>
              </ul>
            </div>
            <% end %>
           </ul>
			
			<% if current_user != nil && current_user.is_admin %>
	<%= link_to 'Add Food', new_food_place_path(@place), :class => "btn btn-primary", :role => "button" %> 
	
	<br/>
	<br/>
	
	<%= link_to 'Edit', edit_place_path(@place), :class => "btn btn-primary", :role => "button" %> 
	<%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :role => "button" %>

	<!-- <%= link_to 'Load From CSV', @place, action: :load_csv %> -->
	
<% end %>
        	
        	
        </div><!--end col-->
        <div class="col-md-2 ">
       
        </div>
      </div><!--end row-->
      
      
  



</div><!--end container--> 