<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.email %>
</p>

<p>
  <strong>Food:</strong>
  <%= @review.food_id %>
</p>

<% if current_user == @review.user %>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Delete',@review, method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>

<%= link_to 'Back', @review.food %> 

